<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Main pages</h1>
   <div>
       <form action="/add" method="POST">
        <input type="text" name="fullName"  placeholder="Full Name" >
        <input type="number" name="Age"  placeholder="Age">   
        <input type="number" name="Mob"  placeholder="Mobile Number">   
        <button type="submit">Submit</button>
      </form>
      <% arr.map((val) => { %>
         
        <li><%= val.fullName %> </li>
        <li><%= val.Age%> </li>
        <li><%= val.mob %></li>
    
    <% }) %>
   </div>  
</body>

</html>